@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5px;
    background-color: black;
  
}

header {
    font-weight: bold;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: aliceblue;
    color:#00E83C;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 0px 15px 30px;
    width: 50vw;
    height: 20vh;
    margin: 10px;
    box-shadow: 5px 5px 15px #00e83e60;
}

#dados {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#res {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
p {
    display: inline-block;
    margin: 0;
}
input, a {
    display: inline-block;
    border: 1px solid #E8007F;
    border-radius: 10px;
}

input {
    width: 100px;
}

a {
    display: inline-block;
    color:white;
    background-color: #00E83C;
    text-decoration: none; 
    text-align: center;
    font-size: 13px;
    padding: 6px;
    width: 80px; 
}

a:hover {
    color: #00E83C;
    background-color: white;
    font-weight: bold;
}

#lista {
    width: 300px;
}

header {
    color:#E8007F;
    text-align: center;
}

#demo {
    display: flex;
    gap: 10px;
}