* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    display: flex; 
    justify-content: space-around;
    gap: 10px;
}

@media (max-width: 1100px) {
    .esquerda {
        display: none;
    }
}

button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.direita, .esquerda {
    flex: 1;
    margin: 0;
    width: 50vw;
    padding: 50px 0;
}


.esquerda img {
    display: inline-block;
}

.direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divisoria {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #D9D9D9;
}