@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color:#142F40 ;
    background-color: #F21F0C;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 70px;
    width: 700px;
    height: 500px;
    background-color: #0DB3D9;
    border-radius: 10px;
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.752);
}

div h1 {
    text-transform: uppercase;
    margin: 0 5px 30px 5px;
    padding: 10px;
    color:#F21F0C;
}

div p {
    color:black;
    padding: 10px;
    font-size: 1rem;
    text-align: justify;
    line-height: 20px;
}

div p:first-child {
    margin-top: 40px;
}

mark {
    background-color: #F26716;
}

button {
    width: 250px;
    height: 90px;
    font-weight: bolder;
    color: #F21F0C;
    background-color: whitesmoke;
    border:3px solid #F21F0C;
    border-radius: 20px;
    font-size: 1.3em;
}

